USE [master]
GO
/****** Object:  Database [vt]    Script Date: 31.03.2022 15:50:23 ******/
CREATE DATABASE [vt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vt]
GO
/****** Object:  Table [dbo].[tablo]    Script Date: 31.03.2022 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Ucret] [float] NULL,
 CONSTRAINT [PK_tablo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tablo] ON 

INSERT [dbo].[tablo] ([id], [Ad], [Ucret]) VALUES (1, N'ali', 111)
INSERT [dbo].[tablo] ([id], [Ad], [Ucret]) VALUES (2, N'veli', 223)
INSERT [dbo].[tablo] ([id], [Ad], [Ucret]) VALUES (3, N'sdfsdf', 233)
SET IDENTITY_INSERT [dbo].[tablo] OFF
GO
USE [master]
GO
